<% title "Dashboard" %>

<%# User is logged in %>
<% if current_user.present? %>

<div class="col-md-12">
	<div class="panel panel-default">
		<div class="panel-heading">
			<p class="panel-title">Welcome! You are logged in as: <%= current_user.email %></p>
		</div>
		<div class="panel-body">
			<p>Analytic tools coming soon.</p>
			<p>Would you like to <%= link_to "practice CBT?", events_path %></p>
		</div>
	</div>
</div>

<div class="col-md-3">
	<div class="panel panel-default">
	<table class="table">	
	<thead>
		<tr>
			<td>Events you have processed with BetterMood.me</td>
		</tr>
	</thead>
	<tbody>
	<tr>
		<td><strong><%= current_user_event_count %></strong></td>
	</tr>
	</tbody>
	</table>
	</div>
</div>

<% if current_user_most_recent_event.present? %>
<div class="col-md-3">
	<div class="panel panel-default">
	<table class="table">	
	<thead>
		<tr>
			<td>Your most recent event</td>
		</tr>
	</thead>
	<tbody>
	<tr>
		<td><strong><%= link_to current_user_most_recent_event.description, event_path(current_user_most_recent_event) %></strong></td>
	</tr>
	<tr>
		<td><%= current_user_most_recent_event.created_at.strftime("%B %e, %Y") %></td>
	</tr>
	</tbody>
	</table>
	</div>
</div>
<% end %>


<% else %>
<div class="col-md-12">
	<div class="panel panel-default">
		<div class="panel-heading">
			<p class="panel-title">BetterMood.me is free to use, but only registered users get the dashboard!</p>
		</div>
		<div class="panel-body">
			<p>The dashboard is a place to view past events, observe trends, and use new features as they come.</p>
			<p>You'll get to save events and use other features as they are added.</p>
			<p>And it's totally free.</p>
			<p><%= link_to "Register now", "/users/sign_up", :class => "btn btn-large btn-success" %></p>
			<p class="muted">Already have an account? <%= link_to "Sign in", "/users/sign_in" %></p>
		</div>
	</div>
</div>

<% end %>