
<% title  (current_user && @event.user_id == current_user.id.to_s) ? "Your Event" : "Anonymous Event" %>

<div class="row">
	<div class="col-md-12">
		<% if (current_user && @event.user_id == current_user.id.to_s && @event.anonymous?) %>
			<h4 class="text-muted">This event is being published anonymously and other people can read it.</h4>
		<% end %>
		<div class="panel panel-info">
		<div class="panel-body">
			<p class="text-muted">You started by describing this event:</p>
			<blockquote><%= @event.description %></blockquote>

			<p class="text-muted">You were feeling:</p>
			<ul class="list-unstyled">
			<% @event.feelings.each do |feeling| %>
				<li>
					<%= feeling["name"] %>, intensity of <%= feeling["amountBefore"] %>
				</li>
			<% end %>
			</ul>

			<p class="text-muted">And you thought:</p>
			<ul class="list-unstyled">
			<% @event.thoughts.each do |thought| %>	
				<li><p><%= thought["automaticThought"] %></p></li>
			<% end %>
			</ul>

			<p class="text-muted">But you noticed distortions in your thoughts:</p>
			<ul class="list-unstyled">
			<% @event.thoughts.each do |thought| %>	
				<% thought["distortions"].each do |distortion| %>
				<li class="list-unstyled">
					<p><%=  distortion["name"] %></p>
				</li>
				<% end %>
			<% end %>
			</ul>

			<p class="text-muted">You provided rational alternatives to those thoughts:</p>
			<ul class="list-unstyled">
				<% @event.thoughts.each do |thought| %>	
					<% thought["distortions"].each do |distortion| %>
						<li><%= thought["rationalThought"] %></li>
					<% end %>
				<% end %>
			</ul>

			<p class="text-muted">After this, you were feeling: </p>

			<ul>
				<li>
					<% @event.feelings.each do |feeling| %>
					<p><%= feeling["name"] %> at an intensity of <%= feeling["amountAfter"] %>.</p>
					<p class="text-success">Reduced by <%= feeling["amountBefore"].to_i - feeling["amountAfter"].to_i %>!</p>
					<% end %>
				</li>
			</ul>
		</div>
		<div class="panel-footer">
			<p>Changing your thoughts changed your mood!</p>	
		</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-body">
				<p>Average intensity of feelings reduced by <strong><%= average_feeling_reduction(@event) %></strong></p>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<p><%= link_to "Back to events list", events_path, class: "btn btn-primary" %>    
		<% if current_user.present? && current_user.id.to_s == @event.user_id %>
			<%= link_to "Delete this event", delete_event_path(@event), class: "btn btn-danger" %>
		<% end %>
		</p>
	</div>
</div>




<p><%# TODO: neat feature, or stupid? link_to "Email version", email_version_event_path(@event) %></p>