<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Better Mood" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Better Mood" %>">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.js" %>
    https://"//ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-route.js"
    <%= javascript_include_tag "application"%>
    <%= csrf_meta_tags %>

    <%# Segment.io tracking code %>
    <script type="text/javascript">
    window.analytics||(window.analytics=[]),window.analytics.methods=["identify","track","trackLink","trackForm","trackClick","trackSubmit","page","pageview","ab","alias","ready","group","on","once","off"],window.analytics.factory=function(t){return function(){var a=Array.prototype.slice.call(arguments);return a.unshift(t),window.analytics.push(a),window.analytics}};for(var i=0;i<window.analytics.methods.length;i++){var method=window.analytics.methods[i];window.analytics[method]=window.analytics.factory(method)}window.analytics.load=function(t){var a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=("https:"===document.location.protocol?"https://":"http://")+"d2dq2ahtl5zl1z.cloudfront.net/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n)},window.analytics.SNIPPET_VERSION="2.0.8",
    window.analytics.load("sy3coi0y7m");
    window.analytics.page();
    </script>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>

    
  <% if current_user %>
    <script type="text/javascript">
      // this info is parsed by Segment.io and sent off to the appropriate analytics providers
      // TODO: Add these if we begin collecting user names
        // name             : <%# raw current_user.username.to_s.to_json %>,
        // username         : <%# raw current_user.username.to_s.to_json %>,
      analytics.identify(<%= raw current_user.id.to_s.to_json %>, {
        email            : <%= raw current_user.email.to_s.to_json %>,
        created          : "<%= raw current_user.created_at %>"
      });
    </script>
  <% end %>
    
    
  </body>
</html>
